.testDiv {
  width: 49%;
  box-shadow: 2px 2px 4px #aaa;
}

.desc {
  font-style: italic;
}

pre {
  background: #ccc;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

#report {
  background: #ddf;
  width: 49%;
  position: fixed;
  right: 0px;
  top: 5px;
  padding: 2px;
}

#reportBlok {
  padding: 2px;
}

#report button{
  border-radius: 5px 6px;
  background:#aca;
  padding:6px;
  font-weight:bold;
  transition-duration:.2s;
  cursor:pointer;
}
#report button:hover{
  background:#cfc;
}
#modNum{
  padding:6px;
}